h1{
    font-size: 30px;
    text-align: center;
    color: #ffffff
    }
    
    p{
    font-size: 80px;
    text-align: center;
    font-family: Helvetica, sans-serif;
    color: #ffffff
    }
    
    body {
    text-align: center;
    background-color: #000000;
    }
h2{
    font-size: 30px;
    text-align: center;
    color: #ffffff
    }
    
    p{
    font-size: 80px;
    text-align: center;
    font-family: Helvetica, sans-serif;
    color: #ffffff
    }
    
    body {
    text-align: center;
    background-color: #000000;
    }
h3{
    font-size: 30px;
    text-align: center;
    color: #ffffff
    }
    
    p{
    font-size: 80px;
    text-align: center;
    font-family: Helvetica, sans-serif;
    color: #ffffff
    }
    
    body {
    text-align: center;
    background-color: #000000;
    }