h1{
    font-size: 30px;
    text-align: center;
    color: #ffffff
    }
    
    p{
    font-size: 80px;
    text-align: left;
    font-family: Helvetica, sans-serif;
    }
    
    body {
    background-color: #000000;
    }